<!-- Add a toggle button -->
<button *ngIf="!sidebarVisible" mat-icon-button class="mobile-menu-button" (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
</button>

<!-- Updated sidebar with mobile classes -->
<mat-card class="sidebar-card mb20" [class.mobile-visible]="sidebarVisible">
    <mat-action-list>
        <div mat-subheader class="sidebar-header">
            <mat-icon class="header-icon">category</mat-icon>
            Available Categories
        </div>

        <button mat-list-item routerLink="/user-dashboard/0" class="sidebar-item" (click)="closeSidebarOnMobile()">
            <mat-icon mat-list-icon style="vertical-align: middle;" class="item-icon">apps</mat-icon>
            <span class="item-text">All Quizzes</span>
        </button>

        <button mat-list-item [routerLink]="'/user-dashboard/' + c.cid" *ngFor="let c of categories"
            class="sidebar-item" (click)="closeSidebarOnMobile()">
            <mat-icon mat-list-icon style="vertical-align: middle;" class="item-icon">quiz</mat-icon>
            <span class="item-text">{{ c.title }}</span>
        </button>
    </mat-action-list>
</mat-card>