<mat-card>
    <h1 class="ml20">Add New Quiz</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 mb20">

                <form (ngSubmit)="addQuiz()">
                    <!-- title field -->
                    <mat-form-field class="w100" appearance="fill">
                        <mat-label>Title</mat-label>
                        <input [(ngModel)]="quizData.title" required type="text" name="title"
                            placeholder="Enter title here" matInput>
                    </mat-form-field>

                    <!-- description field -->
                    <mat-form-field class="w100" appearance="fill">
                        <mat-label>Description</mat-label>
                        <textarea [(ngModel)]="quizData.description" required type="text" name="description"
                            placeholder="Enter description here" matInput rows="5"></textarea>
                    </mat-form-field>

                    <div class="row">
                        <div class="col-md-6">
                            <!-- max marks -->
                            <mat-form-field class="w100" appearance="fill">
                                <mat-label>Maximum Marks</mat-label>
                                <input [(ngModel)]="quizData.maxMarks" required type="text" name="maxMarks"
                                    placeholder="Enter maximum marks here" matInput>
                            </mat-form-field>

                        </div>
                        <div class="col-md-6">
                            <!-- number of questions to be shown -->
                            <mat-form-field class="w100" appearance="fill">
                                <mat-label>Number of Question</mat-label>
                                <input [(ngModel)]="quizData.numberOfQuestions" required type="text"
                                    name="numberOfQuestions" placeholder="Enter number of questions here" matInput>
                            </mat-form-field>

                        </div>
                    </div>


                    <!-- active field -->
                    <mat-slide-toggle [(ngModel)]="quizData.active" name="active" class="mt20">Publish
                        status</mat-slide-toggle>

                    <br>

                    <!-- category selectior -->
                    <mat-form-field class="mt20 w100">
                        <mat-label>Select Category</mat-label>
                        <mat-select [(ngModel)]="quizData.category" required name="category">
                            <mat-option *ngFor="let c of categories" [value]="c">
                                {{ c.title }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- button -->
                    <div class="container text-center">
                        <button type="submit" mat-flat-button>Add</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</mat-card>

<!-- {{ quizData | json }} -->