<!-- <div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h1>Welcome to Examportal</h1>
                <button mat-raised-button>Welcome</button>
            </div>
        </div>
    </div>
</div> -->

<div class="bootstrap-wrapper welcome-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
                <!-- Main Heading -->
                <h1 class="welcome-title animate__animated animate__fadeInDown">
                    Welcome to <span class="highlight">ExamPortal</span>
                </h1>

                <!-- Subheading -->
                <p class="welcome-subtitle animate__animated animate__fadeIn animate__delay-1s">
                    Your gateway to seamless online examinations
                </p>

                <!-- Animated Button -->
                <div class="animate__animated animate__fadeInUp animate__delay-2s">
                    <button mat-raised-button routerLink="/login" class="welcome-button">
                        Get Started
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>