<mat-card class="update-form-container">
    <h1 class="form-title">Update User Profile</h1>

    <div class="form-wrapper">
        <form *ngIf="user" (ngSubmit)="updatePassword()">
            <!-- Old Password -->
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Old Password</mat-label>
                <input [(ngModel)]="oldPassword" required [type]="hideOldPassword ? 'password' : 'text'"
                    name="oldPassword" placeholder="Enter old password" matInput>

                <button type="button" mat-icon-button matSuffix (click)="hideOldPassword = !hideOldPassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOldPassword">
                    <mat-icon>{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <!-- New Password -->
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>New Password</mat-label>
                <input [(ngModel)]="newPassword" required [type]="hideNewPassword ? 'password' : 'text'"
                    name="newPassword" placeholder="Enter new password" matInput>

                <button type="button" mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
                    <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <!-- Confirm New Password -->
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Confirm Password</mat-label>
                <input [(ngModel)]="confirmNewPassword" required [type]="hideConfirmPassword ? 'password' : 'text'"
                    name="confirmNewPassword" matInput>

                <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
                    <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <!-- Submit Button -->
            <div class="button-container">
                <button type="submit" mat-raised-button>Update</button>
            </div>
        </form>
    </div>
</mat-card>