<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class="col-md-6 offset-md-3">

                <mat-card>
                    <div class="m20">
                        <div class="container text-center">
                            <img src="logo.png" alt="Logo" height="120" width="120">
                        </div>

                        <h2 class="text-center">Login Here !!</h2>

                        <form (ngSubmit)="loginFormSubmit()" action="">
                            <!-- Username field -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Username</mat-label>
                                <input
                                [(ngModel)]="loginData.username"
                                required name="username" matInput placeholder="Enter your username">
                                <mat-hint>Enter a valid username!!</mat-hint>
                            </mat-form-field>

                            <!-- Password field -->
                            <mat-form-field class="full-width mt20" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input
                                [(ngModel)]="loginData.password"
                                type="password" required name="password" matInput
                                    placeholder="Enter your password">
                            </mat-form-field>

                            <!-- Buttons -->
                            <div class="container text-center" style="padding-bottom: 50px;">
                                <button type="submit" mat-raised-button class="mat-submit">Login</button>
                                <button type="reset" mat-raised-button class="mat-reset ml10">Reset</button>
                            </div>
                        </form>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>