.deleteBtn {
    color: white !important;
    background-color: red !important;
}


/* Mobile styles (only applies below 768px) */
@media (max-width: 768px) {

    /* Adjust list item layout for mobile */
    mat-list-item {
        flex-wrap: wrap;
        height: auto !important;
        padding: 16px 0;
    }

    mat-list-item>div[matListItemMeta] {
        margin-top: 8px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    /* Card adjustments */
    mat-card {
        margin: 10px !important;
    }

}