.example-spacer {
    flex: 1 1 auto;
}

.navbar-color {
    background-color: #005cbb;
    color: white;
}

.mobile-size {
    padding-left: 40px;
}

.mat-btn {
    border: transparent;
    background-color: transparent;
    font-size: 23px;
    color: white;
    text-decoration: none;
}

/* Profile dropdown button */
.profile-menu-container {
    position: relative;
    display: inline-block;
}

.profile-button {
    display: flex;
    align-items: center;
    height: 48px;
    color: white !important;
}

.profile-button mat-icon {
    margin-right: 8px;
    font-size: 35px;
    width: 35px;
    height: 35px;
}


.profile-button mat-icon {
    margin: -3px;
}

.profile-dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    background: #e3e9f7;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 4px;
    overflow: hidden;
}

.dropdown-item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    text-decoration: none;
    color: #424242;
    cursor: pointer;
}

.dropdown-item:hover {
    background: #cbd1de;
}

.dropdown-item mat-icon {
    margin: 8px;
}


/* For mobile screen */
@media (max-width: 768px) {
    .mobile-size {
        padding-left: 40px;
    }

}