<!-- <p>navbar works!</p> -->

<mat-toolbar class="navbar-color">
    <a routerLink="/" mat-icon-button class="mat-btn">
        <mat-icon>menu_book</mat-icon>
    </a>
    <span class="ml20">Examportal</span>
    <span class="example-spacer"></span>

    <a *ngIf="!isLoggedIn" routerLink="/login" class="mat-btn">
        Login
    </a>

    <a *ngIf="!isLoggedIn" routerLink="/signup" class="ml20 mat-btn">
        Register
    </a>

    <a *ngIf="isLoggedIn" (click)="logout()" href="" class="mat-btn">
        Logout
    </a>

    <a routerLink="/admin/profile" *ngIf="isLoggedIn" class="mat-btn ml20">
        {{ login.getUser().username }}
    </a>

</mat-toolbar>